<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
p{
  text-align: center;
}
h1{
  text-align: center;
}
h2 {
font-size: 34px;
	color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E2F3DC;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: #9F3442;
}

.link:hover {
  color: #458D2E;
}
.line-transparent {
background: black;
color:white;
display: flex;
justify-content: space-between;
align-items: center;
}
.line-dark{
background: purple;
width: 50% ;
height: 10px;
}
.line-medium {
background: red;
width: 30% ;
height: 10px;
}
.line-light {
background:orange;
width: 20%;
height: 10px;
}
h2 {
 background: pink;
}