h3 {
font-size: 34px;
	color: blue;
}
div{
background: lightgreen	
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E2F3DC;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: #9F3442;
}

.link:hover {
  color: #458D2E;
}
.line-transparent {
background: black;
color:white;
display: flex;
justify-content: space-around;
align-items: center;
}

.line-dark{
background: purple;
width: 50% ;
height: 10px;
}
.line-medium {
background: red;
width: 30% ;
height: 10px;
}
.line-light {
background:orange;
width: 20%;
height: 10px;
}